body {
    background: url(../images/bg.jpeg) no-repeat center;
    background-size: cover;
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    min-height: 90vh;
}

.main {
    width: 80%;
    position: relative;
    margin-left: 10%;
    top: 190px;
    background-color: rgba(255,255,255,0.7);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 85vh;
}



.img-grid button{
    float: left;
    height: 80px;
    background-color: rgba(153, 102, 51, 0.6);
    font-family: 'Mukta', sans-serif;
    width: 18%;
    position: relative;
    top: 85px;
    left: 13%;
    margin-right: 10%;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}


/* popup */
.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    /*overflow-y: auto;*/
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    max-width: 500px;
    position: relative;
    margin: 15em auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #875532;
}

.popup p label {
    text-align: right;
}

.popup button {
    background-color: rgba(153, 102, 51, 0.6);
    color: white;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    font-size: 18px;
}


.update {
    position: relative;
    top: 280px;
    height: 400px;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    color: #875532;
}

.update form {
    position: absolute;
    margin-left: 40%;
}
.update p {
    margin-bottom: 10%;
}

.update form input {
    width: 300px;
}

.update form textarea {
    width: 300px;
}

.update form label {
    text-align: right;
    vertical-align: top;
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    width: 190px;
}
.update button {
    background-color: rgba(153, 102, 51, 0.6);
    color: white;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
}

.agenda{
    height:150px;
    position:relative;
    width: 30%;
    top: -160px;
    float: left;

}
.agenda input{
    background:url(../images/agenda.JPG);
    background-size: 340px 340px;
    width: 340px;
    height: 340px;
    left: 18%;
    overflow: hidden;
    position:absolute;
    right:0;
    top:0;
    filter:alpha(opacity=0);
    cursor:pointer;
}
