
ul {
    list-style-type: none;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.36);
}

/* //Portfolio */


.img-grid {
    margin-bottom: 1.2em;
}

h6.main-title-w3pvt {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
    color: #0083ff;
    letter-spacing: 0.5px;
}

.port-desc {
    padding: 1.5em 1em;
    background: white;
}


/* popup */
.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    max-width: 430px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #45d5c0;
}

/* //popup */
/* //gallery */
/* Portfolio */
/* Media Queries
--------------------------------------------- */
@media(max-width: 1280px) {
    nav a {
        font-size: 14px;
    }
}

@media all and (max-width : 991px) {
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle+a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 8px 12px;
        font-size: 14px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #fff;
        color: #000;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        letter-spacing: 1px;
        margin-bottom: 0;
        cursor: pointer;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        max-width: 131px;
        padding: 5px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: .5px;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        border-radius: 20px;
    }

    .toggle:hover {
        opacity: .8;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .menu .toggle:hover,
    .menu .toggle.active {
        color: #000000;
        background: #ffffff;
        opacity: 1;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    nav ul {
        float: right;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }

    nav ul ul li a {
        display: inline-block;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }

    nav a {
        font-size: 14px;
        display: inline-block;
        margin: 8px 0;
    }

    a.reqe-button {
        padding: 12px 20px;
        font-size: 13px;
        margin: 0 8px;
    }
}

@media all and (max-width : 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }

}
/* -- Responsive code -- */
@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1366px) {
    .banner-bottom-w3ls {
        bottom: -110px;
    }
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1080px) {
    h3.home-banner-w3 {
        width: 60%;
        font-size: 2.3em;
    }

    .align-w3-abt {
        padding: 12em 0 8em;
    }

    h4.w3pvt-title {
        font-size: 2.1em;
    }

    .services-bg-color {
        padding: 0 2em;
    }

    li.nav-right-sty {
        margin-left: 3em;
    }
}

@media screen and (max-width: 1050px) {

    .align-w3 {
        padding: 4em 0;
    }
}

@media screen and (max-width: 1024px) {
    .banner-bottom-w3ls {
        left: 10%;
        width: 80%;
    }

    h3.home-banner-w3 {
        width: 100%;
    }

    p.bnr-txt {
        width: 100%;
    }

    .inner-banner-w3ls {
        min-height: 250px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-light .navbar-toggler {
        margin-left: auto;
    }

    .dropdown-menu {
        text-align: center;
    }

    .right_nav {
        margin: 0 auto;
        text-align: center;
    }

    .bb-img h3 {
        font-size: 1.05em;
    }

    p.sub-title {
        width: 100%;
    }

    .wthree_pvt_title {
        margin-bottom: 4em;
    }

    .w3ls-btn {
        margin-top: 3em;
    }

    .align-w3-abt {
        padding: 12em 0 4em;
    }

    .abt-txt h4 {
        font-size: 1.1em;
    }

    .abt-txt {
        margin-left: 0;
    }

    .slide-banner {
        min-height: 420px;
    }

    .slide-img {
        min-height: 450px;
    }

    .carousel-indicators {
        bottom: -45px;
    }

    li.nav-right-sty {
        margin-left: 0em;
    }

    .box13:hover .box-content {
        padding: 3vw;
    }
}

@media screen and (max-width: 900px) {
    h3.home-banner-w3 {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 800px) {
    #contact iframe {
        min-height: 400px;
    }
}

@media screen and (max-width: 768px) {
    h3.home-banner-w3 {
        font-size: 2em;
    }

    h4.w3pvt-title {
        font-size: 1.9em;
    }

    .wthree_pvt_title {
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 736px) {
    .align-w3 {
        padding: 3em 0;
    }

    .slide-img {
        min-height: 350px;
    }

    .box13 .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 667px) {
    .bb-img h3 {
        font-size: 1em;
    }

    .abt-icon {
        width: 60px;
        height: 60px;
    }

    .abt-icon span {
        font-size: 1.5em;
    }

    h4.w3pvt-title {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 640px) {
    .slide-banner {
        min-height: 385px;
    }

    .carousel-indicators {
        bottom: -35px;
    }
}

@media screen and (max-width: 600px) {
    .banner-bottom-w3ls {
        left: 5%;
        width: 90%;
    }
}

@media screen and (max-width: 568px) {
    .wthree-link-bnr {
        padding: 3px 25px;
        letter-spacing: 0px;
        font-size: 13px;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 4px 15px;
        font-size: 0.85em;
        letter-spacing: 1px;
    }

    .banner-bottom-w3ls {
        bottom: -90%;
    }

    .align-w3-abt {
        padding: 22em 0 8em;
    }

    h3.home-banner-w3 {
        font-size: 1.8em;
    }

    p.bnr-txt {
        font-size: 1em;
        line-height: 1.5;
    }

    .align-w3-abt {
        padding: 22em 0 3em;
    }

    h4.w3pvt-title {
        font-size: 1.6em;
    }

    .services-bg-color {
        padding: 0;
    }

    .align-w3 {
        padding: 2em 0;
    }

    .slide-img {
        min-height: 300px;
    }

    .box13 .box-content,
    .box13:after {
        left: 21px;
        right: 33px;
    }

    .w3ls-btn {
        margin-top: 2em;
    }

    #contact iframe {
        min-height: 300px;
    }

    h5.cont-form {
        font-size: 1.5em;
    }

    form.register-wthree .form-control {
        padding: 8px 20px;
    }

    a.navbar-brand {
        font-size: 0.75em;
    }

    .contact-form-wthreelayouts {
        padding: 1em;
    }

    .box13:hover .box-content {
        padding: 20vw 4vw;
    }
}

@media screen and (max-width: 480px) {
    h3.home-banner-w3 {
        font-size: 1.6em;
    }

    .wthree_pvt_title {
        margin-bottom: 2.5em;
    }

    .align-w3-abt {
        padding: 20em 0 3em;
    }

    .w3ls-btn {
        margin-top: 2em;
    }

    .w3ls-btn {
        padding: 4px 30px;
    }

    .inner-banner-w3ls {
        min-height: 200px;
    }

    .slide-img {
        min-height: 200px;
    }

    h3.w3f_title {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 414px) {
    .right_nav {
        margin: 0.5em auto;
    }

    h3.home-banner-w3 {
        font-size: 1.4em;
    }

    .align-w3-abt {
        padding: 19em 0 0em;
    }
}

@media screen and (max-width: 384px) {
    .banner-bottom-w3ls {
        left: 0;
        width: 100%;
    }

    .img-grid {
        padding: 0;
    }

    .testi-text p {
        width: 100%;
        font-size: 1em;
    }

    .testi-desc h5 {
        font-size: 1em;
    }
}

@media screen and (max-width: 375px) {
    .inner-banner-w3ls {
        min-height: 180px;
    }
}

@media screen and (max-width: 320px) {
    h3.home-banner-w3 {
        font-size: 1.2em;
    }

    .banner-bottom-w3ls {
        bottom: -80%;
    }

    .bb-img h3 {
        font-size: 0.9em;
    }

    .abt-icon {
        width: 50px;
        height: 50px;
    }

    .abt-icon span {
        font-size: 1.2em;
    }

    .abt-txt h4 {
        font-size: 1em;
    }

    .align-w3-abt {
        padding: 17em 0 0em;
    }

    h4.w3pvt-title {
        font-size: 1.4em;
    }

    h4.home-title {
        font-size: 1.1em;
    }
}

/* -- //Responsive code -- */