doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Account
        link(rel='stylesheet', href='../css/account.css')
        script(type='text/javascript', src='head.js')
    body
        .main
            .img-grid
                a(href='#gal1')
                    button(onclick='') Create Family Account
                a(href='#gal2')
                    button(onclick='') Join Family
                a
                    button(onclick='window.open("login.html")') Log Out
            // popup
            #gal1.popup-effect.animate
                .popup
                    form#date(action='/createfamily', method='POST')
                        p
                            label Name of the Family:
                            input(type='text', name='familyName')
                        br
                        p
                            label ID of the Family:
                            input(type='text', name='familyId')
                        br
                        p
                            label Family Password:
                            input(type='text', name='familyPassword')
                        br
                        button(onclick='createfamily()') Confirm
                        a.close(href='#gallery') ×
            // popup
            #gal2.popup-effect.animate
                .popup
                    form(action='/joinFamily', method='POST')
                        p
                            label ID of the Family:
                            input(type='text', name='familyId')
                        br
                        p
                            label Family Password:
                            input(type='text', name='familyPassword')
                        br
                        button(onclick='submit') Confirm
                        a.close(href='#gallery') ×
            .update
                form#date(action='/updateAccount', method='POST')
                    p
                        label Change Username:
                        input(type='text', name='username',placeholder = '#{username}')
                        button(onclick='') Change
                    br
                    p
                        label Current Family ID:
                        input(type='text', name='familyId', placeholder = '#{familyId}')
                        button(onclick='') Switch
                    br
            .agenda
                form(action='', enctype='multipart/form-data', method='post')
                    img#prevView(src='../images/agenda.jpg', alt='', width='340')
                    input(type='file', name='upload', id='', value='', onchange='prev(this)')
                    .btn
                        button(type='submit') Save
                script(type='text/javascript').
                    function prev(event) {
                        var img = document.getElementById("prevView");
                        let file = event.files[0];
                        let reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = function () {
                            img.setAttribute("src", this.result);
                        }
                    }
