<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>

    <link rel="stylesheet" href="../css/account.css">
    <script type="text/javascript" src="head.js"></script>
</head>
<body>
<div class="main">
    <div class="img-grid">
        <a href="#gal1">
            <button onclick="">Create Family Account</button>
        </a>
        <a href="#gal2">
            <button onclick="">Join Family</button>
        </a>
        <a>
            <button onclick=window.open("login.html")>Log Out</button>
        </a>
    </div>


    <!-- popup-->
    <div id="gal1" class="popup-effect animate">
        <div class="popup">
            <p><label>Name of the Family: </label>
                <input type = "text" name = "name"></p><br>
            <p><label>ID of the Family: </label>
                <input type = "text" name = "name"></p><br>
            <p><label>Family Password: </label>
                <input type = "text" name = "name"></p><br>
            <button onclick="">Confirm</button>
            <a class="close" href="#gallery">&times;</a>
        </div>
    </div>

    <!-- popup-->
    <div id="gal2" class="popup-effect animate">
        <div class="popup">
            <p><label>ID of the Family: </label>
                <input type = "text" name = "name"></p><br>
            <p><label>Family Password: </label>
                <input type = "text" name = "name"></p><br>
            <button onclick="">Confirm</button>
            <a class="close" href="#gallery">&times;</a>
        </div>
    </div>


    <div class="update">
        <form action="/update" id="date" method = POST>
            <p><label>Change Username: </label>
                <input type = "text" name = "name">
                <button onclick="">Change</button>
            </p><br>
            <p><label>Current Family ID: </label>
                <input type = "text" name = "name">
                <button onclick="">Switch</button>
            </p><br>
        </form>
    </div>

    <div class="agenda">
        <input type="file" class="inputstyle">
    </div>

</div>
</body>
</html>