doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Alert
        link(rel='stylesheet', href='../css/alert.css')
    body
        .bg
            br
            br
            h2 Sorry, your 'User Id' or 'Password' is wrong, please check it!
            br
            button Return to Login page
            br
            br
            br