doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Alert
        link(rel='stylesheet', href='../css/alert.css')
    body
        .bg
            br
            br
            h2 #{errorMessage}
            br
            button(onclick="move()") Click here to proceed to #{returnPage} page
            script.
                function move() {
                    window.location.href = "/#{returnPage}"
                }
            br
            br
            br