doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Alert
        link(rel='stylesheet', href='../css/alert.css')
    body
        .bg
            br
            br
            h2 #{errorMessage}
            br
            button(onclick="move()") Return to Login Page
            script.
                function move() {
                    window.location.href = '/'
                }
            br
            br
            br