<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artifacts</title>
    <link rel="stylesheet" href="../css/artifacts.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="head.js"></script>
</head>
<body>
<div class="search">
    <div class="search_bar"><input class = "itemSearch" placeholder="Search for an artifact...">
        <button onclick="">SEARCH</button>
        <br><br>
    </div>
    <div class="btn"><button onclick="window.open('upload.html')">UPLOAD</button></div>
    <div class="main">
        <ul class="demo row">
            <li class="col-lg-4">
                <div class="img-grid">
                    <div class="Portfolio-grid1">
                        <a href="#gal1">
                            <img src="../images/clock.jpg" alt=" " class="img-fluid" />
                        </a>
                    </div>
                    <div class="port-desc text-center">
                        <h6 class="main-title-w3pvt text-center">Some Description</h6>
                        <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                            diam
                            nonumy eirmod tempor invidunt ut.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col-lg-4">
                <div class="img-grid">
                    <div class="Portfolio-grid1">
                        <a href="#gal2">
                            <img src="../images/sword.jpg" alt=" " class="img-fluid" />
                        </a>
                    </div>
                    <div class="port-desc text-center">
                        <h6 class="main-title-w3pvt text-center">Some Description</h6>
                        <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                            diam
                            nonumy eirmod tempor invidunt ut.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col-lg-4">
                <div class="img-grid">
                    <div class="Portfolio-grid1">
                        <a href="#gal3">
                            <img src="../images/silver%20dollar.jpg" alt=" " class="img-fluid" />
                        </a>
                    </div>
                    <div class="port-desc text-center">
                        <h6 class="main-title-w3pvt text-center">Some Description</h6>
                        <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                            diam
                            nonumy eirmod tempor invidunt ut.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col-lg-4">
                <div class="img-grid">
                    <div class="Portfolio-grid1">
                        <a href="#gal4">
                            <img src="../images/calligraphy.jpg" alt=" " class="img-fluid" />
                        </a>
                    </div>
                    <div class="port-desc text-center">
                        <h6 class="main-title-w3pvt text-center">Some Description</h6>
                        <p> Lorem ipsum dolor sit amet,Stet clita kasd gubergren, sed diam voluptua. sed
                            diam
                            nonumy eirmod tempor invidunt ut.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <!-- popup-->
        <div id="gal1" class="popup-effect animate">
            <div class="popup">
                <img src="../images/clock.jpg" alt="Popup Image" class="img-fluid" />
                <p>Name: xxxx</p>
                <p>Category:</p>
                <p>Year:</p>
                <p>Owner:</p>
                <p>Current Keeper:</p>
                <p>Current Location:</p>
                <p class="editContent mt-4">Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal2" class="popup-effect animate">
            <div class="popup">
                <img src="../images/sword.jpg" alt="Popup Image" class="img-fluid" />
                <p>Name: xxxx</p>
                <p>Category:</p>
                <p>Year:</p>
                <p>Owner:</p>
                <p>Current Keeper:</p>
                <p>Current Location:</p>
                <p class="editContent mt-4">Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal3" class="popup-effect animate">
            <div class="popup">
                <img src="../images/silver%20dollar.jpg" alt="Popup Image" class="img-fluid" />
                <p>Name: xxxx</p>
                <p>Category:</p>
                <p>Year:</p>
                <p>Owner:</p>
                <p>Current Keeper:</p>
                <p>Current Location:</p>
                <p class="editContent mt-4">Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup3 -->
        <!-- popup-->
        <div id="gal4" class="popup-effect animate">
            <div class="popup">
                <img src="../images/calligraphy.jpg" alt="Popup Image" class="img-fluid" />
                <p>Name: xxxx</p>
                <p>Category:</p>
                <p>Year:</p>
                <p>Owner:</p>
                <p>Current Keeper:</p>
                <p>Current Location:</p>
                <p class="editContent mt-4">Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat placerat dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
    </div>
</div>
</body>
</html>