doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Family
        link(rel='stylesheet', href='../css/family.css')
        link(href='../css/style.css', type='text/css', rel='stylesheet', media='all')
        link(href='../css/font-awesome.min.css', rel='stylesheet')
        script(type='text/javascript', src='head.js')
    body
        .search
            .btn
                button(onclick="window.open('upload.html')") UPLOAD
            .main
                ul.demo.row
                    li.col-lg-4
                        .img-grid
                            .Portfolio-grid1
                                a(href='#gal1')
                                    img.img-fluid(src='../images/oldman.jpeg', alt=' ')
                            .port-desc.text-center
                                h6.main-title-w3pvt.text-center Name: xxx
                    li.col-lg-4
                        .img-grid
                            .Portfolio-grid1
                                a(href='#gal2')
                                    img.img-fluid(src='../images/oldwoman.jpeg', alt=' ')
                            .port-desc.text-center
                                h6.main-title-w3pvt.text-center Name: xxx
                    li.col-lg-4
                        .img-grid
                            .Portfolio-grid1
                                a(href='#gal3')
                                    img.img-fluid(src='../images/man.jpeg', alt=' ')
                            .port-desc.text-center
                                h6.main-title-w3pvt.text-center Name: xxx
                    li.col-lg-4
                        .img-grid
                            .Portfolio-grid1
                                a(href='#gal4')
                                    img.img-fluid(src='../images/woman.jpeg', alt=' ')
                            .port-desc.text-center
                                h6.main-title-w3pvt.text-center Name: xxx
                // popup
                #gal1.popup-effect.animate
                    .popup
                        img.img-fluid(src='../images/oldman.jpeg', alt='Popup Image')
                        p Name: xxxx
                        p Age:
                        p Birthday:
                        p.editContent.mt-4
                            | Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                            | placerat placerat dolor.
                        p.editContent.mt-4
                            | Life story: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                            | placerat placerat dolor.
                        a.close(href='#gallery') ×
                // //popup
                // popup
                #gal2.popup-effect.animate
                    .popup
                        img.img-fluid(src='../images/oldwoman.jpeg', alt='Popup Image')
                        p Name: xxxx
                        p Age:
                        p Birthday:
                        p.editContent.mt-4
                            | Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                            | placerat placerat dolor.
                        p.editContent.mt-4
                            | Life story: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                            | placerat placerat dolor.
                        a.close(href='#gallery') ×
                // //popup
                // popup
                #gal3.popup-effect.animate
                    .popup
                        img.img-fluid(src='../images/man.jpeg', alt='Popup Image')
                        p Name: xxxx
                        p Age:
                        p Birthday:
                        p.editContent.mt-4
                            | Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                            | placerat placerat dolor.
                        p.editContent.mt-4
                            | Life story: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                            | placerat placerat dolor.
                        a.close(href='#gallery') ×
                // //popup3
                // popup
                #gal4.popup-effect.animate
                    .popup
                        img.img-fluid(src='../images/woman.jpeg', alt='Popup Image')
                        p Name: xxxx
                        p Age:
                        p Birthday:
                        p.editContent.mt-4
                            | Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                            | placerat placerat dolor.
                        p.editContent.mt-4
                            | Life story: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                            | placerat placerat dolor.
                        a.close(href='#gallery') ×
                // //popup