<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Guide</title>

    <link rel="stylesheet" href="../css/guide.css">
    <script type="text/javascript" src="head.js"></script>
</head>
<body>
<div class="main">
    <div class="userGuide">
        <div>Welcome, here is your website user guide! </div>
        <div>To start with, you can:</div>
        <br>
        <li>Go to 'My Account' at navigation bar to create or join a family.</li>
        <br>
        <li>Go to 'Upload Profiles' at navigation bar to create a profile for you and others in your family</li>
            <br>
        <li>To change your username or switch current family, you can go to 'My Account' Page</li>
            <br>
        <li>'Home', 'Artifacts' and 'Family' pages only show information of your current family</li>
            <br>
        <li>To invite people to a family, you need to let them know the family's id and password, which are held by the family's creator</li>
            <br>
        <li>You can go back to check out this page anytime when clicking 'User Guide' on navigation bar</li>
            <br>
        <li>If you have any advice to this website, please contact us at mystery_it@gmail.com</li>
        </font>
    </div>
</div>
</body>
</html>