<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Guide</title>

    <link rel="stylesheet" href="../css/upload.css">
    <script type="text/javascript" src="head.js"></script>
</head>
<body>
<div class="main">
    <div class="userGuide">
        <body>
        <font size = 6 color = '#8b4513'>
        <div>Welcome, here is your website user guide! </div>
        <div>To start with, you can:</div>
        <div>1. </div>
        <li>Go to 'My Account' at navigation bar to create or join a family.</li>
        <div>2. </div>
        <li>Go to 'Upload Profiles' at navigation bar to create a profile for you and others in your family</li>
        <div>3. </div>
        <li>To change your username or switch current family, you can go to 'My Account' Page</li>
        <div>4. </div>
        <li>'Home', 'Artifacts' and 'Family' pages only show information of your current family</li>
        <div>5. </div>
        <li>To invite people to a family, you need to let them know the family's id and password, which are held by the family's creator</li>
        <div>6. </div>
        <li>You can go back to check out this page anytime when clicking 'User Guide' on navigation bar</li>
        <div>Finally,</div>
        <li>If you have any advice to this website, please contact us at...</li>
        </font>
        </body>
    </div>
</div>
</body>
</html>