<!DOCTYPE html>
<html>
<head>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <!--// Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="../css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../css/head_style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="../css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="../css/lightbox.css">  <!-- For-Gallery-CSS -->
    <!-- //css files -->

    <!-- online-fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body>
<div class="Main-agile">
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="col-md-8 w3l_header_left">
                <ul>
                    <li>Tel: 13 6352</li>
                    <li>Email: <a href="mailto:info@example.com">Mystery@unimelb.edu.au</a></li>
                    <li>Address: The University of Melbourne</li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="col-md-3 logo-w3l">
                    <h1><a class="navbar-brand" href="#"><span>M</span>emories</a></h1>
                </div>
                <div class="col-md-9 navi-w3l">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <nav class="menu menu--francisco">
                                    <ul class="nav navbar-nav menu__list">
                                        <li class="menu__item"><a href="home.html" class="menu__link"><span class="menu__helper">Home</span></a></li>
                                        <li class="menu__item"><a href="artifacts.html" class="menu__link scroll"><span class="menu__helper">Artifacts</span></a></li>
                                        <li class="menu__item"><a href="family.html" class="menu__link scroll"><span class="menu__helper">Family</span></a></li>
                                        <li class="menu__item"><a href="account.html" class="menu__link scroll"><span class="menu__helper">My Account</span></a></li>
                                        <li class="dropdown">
                                            <a href="#" class="menu__item dropdown-toggle" data-toggle="dropdown">Upload<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li class="menu__item"><a href="upload_artifacts.html" class="menu__link scroll"><span class="menu__helper">Upload Artifacts</span></a></li>
                                                <li class="menu__item"><a href="upload_profile.html" class="menu__link scroll"><span class="menu__helper">Upload Profile</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="clearfix"></div>
                            </div><!-- /.navbar-collapse -->
                            <!-- /.container-fluid -->
                        </div>
                    </nav>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //header -->
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>