doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Home
        link(rel='stylesheet', href='../css/home.css')
        script(type='text/javascript', src='head.js')
    body
        .fileInputContainer
            form(action='./savePhoto', enctype='multipart/form-data', method='post')
                img#prevView(src='#{image_path}', alt='',width='525')
                input(type='file', name='upload', id='', value='', onchange='prev(this)')
                .btn
                    button(type='submit') Save
            script(type='text/javascript').
                function prev(event) {
                    var img = document.getElementById("prevView");
                    let file = event.files[0];
                    let reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function () {
                        img.setAttribute("src", this.result);
                    }
                }
        .content-bottom
            form(action='/saveMessage', method='POST')
                .text
                    textarea#message(type='text', name='message', placeholder='#{messages}')
                .btn
                    button.btn(type='submit') Save
