doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Home
        link(rel='stylesheet', href='../css/home.css')
        script(type='text/javascript', src='head.js')
    body
        .fileInputContainer
            form(action='./savePhoto', enctype='multipart/form-data', method='post')
                input(type='file', name='upload', multiple='multiple')
                .btn
                    button.btn(type='submit') Save
            img(src='#{image_path}')
        .content-bottom
            form(action='/saveMessage', method='POST')
                .text
                    textarea#message(type='text', name='message', placeholder='#{messages.message}')
                .btn
                    button.btn(type='submit') Save
