doctype html
html
    head
        title #{user.username}'s homepage
        link(rel='stylesheet', href='../css/home.css')
        script(type="text/javascript" src="head.js")
    body
        block content