doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Home
        link(rel='stylesheet', href='../css/home.css')
        script(type='text/javascript', src='head.js')
    body
        .bg
            br
            p 我的photo呢？？？？#{familyPhoto}！！！！！
            img(src='data:image/jpg;base64,#{familyPhoto}')
            | |
            .col.s3
                img.responsive-img(src="#{pic['path']}", alt='image')
                p.center-align.caption #{pic['caption']}
            br

