<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family</title>

    <link rel="stylesheet" href="../css/family.css">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/profile/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/profile/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/profile/templatemo-style.css">
    <script type="text/javascript" src="head.js"></script>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/modernizr.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM">
    </script>
</head>
<body>
<div class="search">
    <div class="btn"><button onclick="window.open('upload.html')">UPLOAD</button></div>
    <div class="main">
        <div class="row">
            <div class="col-md-12">
                <section id="cd-timeline-2" class="cd-container">
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <img src="../images/camera-icon.png" alt="Picture">
                        </div>

                        <div class="cd-timeline-content projects">
                            <a href="#gal1">
                                <img src="../images/oldwoman.jpeg" alt="">
                            <div class="project-content">
                                <h2>Donec at scelerisque</h2>
                                <span>18 December 2084</span>
                            </div>
                            </a>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <img src="../images/camera-icon.png" alt="Picture">
                        </div>

                        <div class="cd-timeline-content projects">
                            <a href="#gal2">
                                <img src="../images/oldman.jpeg" alt="">
                            </a>
                            <div class="project-content">
                                <h2>Nullam hendrerit ultrices</h2>
                                <span>12 December 2084</span>
                            </div>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <img src="../images/camera-icon.png" alt="Picture">
                        </div>

                        <div class="cd-timeline-content projects">
                            <a href="#gal3">
                                <img src="../images/woman.jpeg" alt="">
                            </a>
                            <div class="project-content">
                                <h2>Quisque mollis diam</h2>
                                <span>10 December 2084</span>
                            </div>
                        </div>
                    </div>

                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-picture">
                            <img src="../images/camera-icon.png" alt="Picture">
                        </div>

                        <div class="cd-timeline-content projects">
                            <a href="#gal4">
                                <img src="../images/man.jpeg" alt="">
                            </a>
                            <div class="project-content">
                                <h2>Etiam a ultricies</h2>
                                <span>30 November 2084</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal1" class="popup-effect animate">
        <div class="popup">
            <img src="../images/oldwoman.jpeg" alt="Popup Image" class="img-fluid" />
            <p>Name: xxxx</p>
            <p>Birthday:</p>
            <p class="editContent mt-4">Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                placerat placerat dolor.</p>
            <p class="editContent mt-4">Life story: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                placerat placerat dolor.</p>
            <a class="close" href="#gallery">&times;</a>
            <button id="btn1">EDIT</button>
            <button id="btn2">DELETE</button>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal2" class="popup-effect animate">
        <div class="popup">
            <img src="../images/oldman.jpeg" alt="Popup Image" class="img-fluid" />
            <p>Name: xxxx</p>
            <p>Birthday:</p>
            <p class="editContent mt-4">Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                placerat placerat dolor.</p>
            <p class="editContent mt-4">Life story: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                placerat placerat dolor.</p>
            <a class="close" href="#gallery">&times;</a>
            <button id="btn1">EDIT</button>
            <button id="btn2">DELETE</button>
        </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal4" class="popup-effect animate">
        <div class="popup">
            <img src="../images/man.jpeg" alt="Popup Image" class="img-fluid" />
            <p>Name: xxxx</p>
            <p>Birthday:</p>
            <p class="editContent mt-4">Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                placerat placerat dolor.</p>
            <p class="editContent mt-4">Life story: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                placerat placerat dolor.</p>
            <a class="close" href="#gallery">&times;</a>
            <button id="btn1">EDIT</button>
            <button id="btn2">DELETE</button>
        </div>
    </div>
    <!-- //popup3 -->
    <!-- popup-->
    <div id="gal3" class="popup-effect animate">
        <div class="popup">
            <img src="../images/woman.jpeg" alt="Popup Image" class="img-fluid" />
            <p>Name: xxxx</p>
            <p>Birthday:</p>
            <p class="editContent mt-4">Description: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                placerat placerat dolor.</p>
            <p class="editContent mt-4">Life story: Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                placerat placerat dolor.</p>
            <a class="close" href="#gallery">&times;</a>
            <button id="btn1">EDIT</button>
            <button id="btn2">DELETE</button>
        </div>
    </div>
    <!-- //popup -->
</div>
</div>
<!-- Javascripts -->
<script>
    function initialize()
    {
        var mapProp = {
            center: new google.maps.LatLng(40.7828839,-73.9652425),
            zoom: 15,
            scrollwheel: false,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("templatemo-map")
            ,mapProp);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, 'resize', function()
    {
        map.setCenter(center);
    });
</script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</body>
</html>