<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload An Artifact</title>

    <link rel="stylesheet" href="../css/upload.css">
    <script type="text/javascript" src="head.js"></script>
</head>
<body>
<div class="main">
    <div class="img-grid">
        <a href="#gal4">
            <button onclick="">Add Image & Video</button>
        </a>
        <a href="#gal5">
            <button onclick="">Add Documents</button>
        </a>
        <a href="#gal6">
            <button onclick="">Add URL</button>
        </a>
    </div>

    <!-- popup-->
    <div id="gal4" class="popup-effect animate">
        <div class="popup">

            <form action="" >
                <div class="div1">
                    <div class="div2">Choose Image</div>
                    <input type="file" class="inputstyle" name="image[]" multiple/>
                </div>

                <div class="div1">
                    <div class="div2">Confirm</div>
                </div>
            </form>
            <a class="close" href="#gallery">&times;</a>
        </div>
    </div>

    <!-- popup-->
    <div id="gal5" class="popup-effect animate">
        <div class="popup">
            <form action="" >
                <div class="div1">
                    <div class="div2">Choose Document</div>
                    <input type="file" class="inputstyle" name="image[]" multiple/>
                </div>
                <div class="div1">
                    <div class="div2">Confirm</div>
                </div>
            </form>
            <a class="close" href="#gallery">&times;</a>
        </div>
    </div>


    <!-- popup-->
    <div id="gal6" class="popup-effect animate">
        <div class="popup">
            <p><label>Add URL: </label>
                <input type = "text" name = "name"></p><br>
            <button onclick="">Confirm</button>
            <a class="close" href="#gallery">&times;</a>
        </div>
    </div>

    <div class="addDiscription">
        <form action="/upload/artifacts/submit" id="upload" method = POST>
            <p><label>Name of the Artifact: </label>
                <input type = "text" name = "name"></p><br>
            <p><label>Category: </label>
                <input type = "text" name = "category"></p><br>
            <p><label>Year of the Artifact: </label>
                <input type = "text" name = "year"></p><br>
            <p><label>Owner of the Artifact: </label>
                <input type = "text" name = "owner"></p><br>
            <p><label>Current Keeper: </label>
                <input type = "text" name = "keeper"></p><br>
            <p><label>Current Location: </label>
                <input type = "text" name = "location"></p><br>
            <p><label>Description: </label>
                <textarea cols="50" rows="8"></textarea></p><br>
            <input type="submit" class="btn" onclick=uploadArtifact()>
        </form>
    </div>
</div>
</body>
</html>