<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>

    <link rel="stylesheet" href="../css/upload.css">
    <script type="text/javascript" src="head.js"></script>
</head>
<body>
<div class="main">
    <div class="div1">
        <div class="div2" id="left">Add Image</div>
        <input type="file" class="inputstyle">
    </div>
    <div class="div1">
        <div class="div2" id="right">Add Documents</div>
        <input type="file" class="inputstyle">
</div>

<div class="addDiscription">
    <form action="/upload" id="upload" method = POST>
        <p><label>Name of the Artifact: </label>
            <input type = "text" name = "name"></p><br>
        <p><label>Year of the Artifact: </label>
            <input type = "text" name = "name"></p><br>
        <p><label>Owner of the Artifact: </label>
            <input type = "text" name = "name"></p><br>
        <p><label>Current Keeper: </label>
            <input type = "text" name = "name"></p><br>
        <p><label>Current Location: </label>
            <input type = "text" name = "name"></p><br>
        <p><label>Description: </label>
            <textarea cols="50" rows="10"></textarea></p><br>
        <input type="submit" class="btn" onclick=uploadArtifact()>
    </form>
</div>
</div>
</body>
</html>