<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload An Artifact</title>

    <link rel="stylesheet" href="../css/upload.css">
    <script type="text/javascript" src="head.js"></script>
</head>
<body>
<div class="main">
    <div class="addDiscription">
        <form action="/upload/artifacts/submit" id="upload" method = POST enctype='multipart/form-data'>
            <p>
                <span>
                    <label id="label1">Choose an image:</label>
                    <input type= "file" name="image" accept="image/*">
                </span>
            </p><br>
            <p>
                <span>
                    <label id="label1">Choose a video:</label>
                    <input type= "file" name="video" accept="video/*">
                </span>
            </p><br>
            <p><label>Name of the Artifact: </label>
                <input type = "text" name = "name"></p><br>
            <p><label>Category: </label>
                <input type = "text" name = "category"></p><br>
            <p><label>Year of the Artifact: </label>
                <input type = "text" name = "year"></p><br>
            <p><label>Owner of the Artifact: </label>
                <input type = "text" name = "owner"></p><br>
            <p><label>Current Keeper: </label>
                <input type = "text" name = "keeper"></p><br>
            <p><label>Current Location: </label>
                <input type = "text" name = "location"></p><br>
            <p><label>Description: </label>
                <textarea cols="50" rows="8"></textarea></p><br>
            <button class="btn" onclick=uploadArtifact()>Submit</button>
        </form>
    </div>
</div>
</body>
</html>